---
layout: default
---


{% assign has_post = false %}
{% assign sorted_research = site.research | sort: 'date' | reverse %}
{% for post in sorted_research %}
    {% if post.private == true %}
        {% continue %}
    {% endif %}
    <div class="post-card">
        <div style="display:flex;align-items:center;gap:8px;">
          {% include spin-cube-2d.html size="40px" %}
          <a class="title" href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a>
          <div class="details" style="float:none;margin-left:auto;">
              <b>{{ post.date | date: "%d %B %Y" }}</b>
              <br>
              {% if post.tags %}
                  <b>[</b>
                  {% for tag in post.tags %}
                      <a href="{{ site.baseurl }}/tags/#{{ tag }}">{{ tag }}</a>{% if forloop.last == false %},{% endif %}
                  {% endfor %}
                  <b>]</b>
              {% endif %}
          </div>
        </div>

        <div class="subtitle">
            {{ post.subtitle }}
        </div>
    </div>
    {% if forloop.last == false %}
    <hr>
    {% endif %}
    {% assign has_post = true %}
{% endfor %}
{% if has_post == false %}
    <div class="no-post">I've lost the ink pot. Check back later...</div>
{% endif %}

{% include spin-cube-2d-script.html %}
